/* c:\Users\PC\Desktop\Amazon Q CLI\SamriddhiShop\frontend\src\index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Your custom global styles go here */
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

#root {
  width: 100%;
  height: 100%;
}

